/* RESET */
abbr,address,article,aside,audio,b,blockquote,body,canvas,caption,cite,code,dd,del,details,dfn,div,dl,dt,em,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,samp,section,small,span,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,ul,var,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:0 0}li,ul{list-style-type:none}body{}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:0 0;text-decoration:none}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid rgba(0,0,0,.1);margin:1em 0;padding:0}input,select{vertical-align:middle}

body {

  background: #878787 url('../img/body-bg-claro.jpg');

  font-family: 'flamathin', arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: 12px;
  
}

/*LOADING*/
#loading {
   width: 100%;
   height: 100%;
   top: 0px;
   left: 0px;
   position: fixed;
   display: block;
   opacity: 0.5;
   background-color: #fff;
   z-index: 99;
   text-align: center;
}

#loading-image {
  position: absolute;
  top: 44%;
  left: 48%;
  z-index: 100;
}

/*TITULO DA PAGINA*/
#titulo {
  width: 1000px;
  margin: 0 auto;
  margin-top: 36px;
  margin-bottom: 20px;
  text-align: right;
  text-align: center;
  vertical-align: middle;
  /*border-bottom: 1px solid rgba(32,38,44,1.0);*/
}

h1 {
  text-transform: uppercase;
  font-family: 'flamabold';
  font-size:48px;
  line-height:1.2;
  color: #20262C;
  text-shadow:0px 1px 0px rgba(0,0,0,0.2);

}

h1 span {
  font-weight: normal;
  font-family: "flamathin";
  font-size:34px;
  color: #20262C;
  opacity: 0.8;
}

/*LINHA FINA*/
#linhaFina {
  width: 600px;
  margin: 0 auto;
  margin-bottom: 26px;
}

#linhaFina p {
  color: #606060;
  font-size: 16px;
  font-family: "flamabook";
  text-align: right;
  text-align: center;
  vertical-align: middle;
}

/* GRIDS */

.grid .tick {
        stroke: lightgrey;
            opacity: 0.7;
        }
.grid path {
        stroke-width: 0;
}


/* CODIGO REFERENTE AO GRAFICO*/
#nomeTimeSelecionado {
  color: #20262C;
  font-size: 14px;
  margin-bottom: 6px;
  margin-left: 6%;
  text-transform: uppercase;
  font-family: 'flamathin', arial, sans-serif;
}

#informacaoTimeSelecionado {
  font-family: 'flamathin', arial, sans-serif;
}

svg {
  background-color:#F0F0F0;
  margin-bottom: 10px;
  -webkit-box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

div.svgWrap {
    width:1000px;
    margin:0px auto;

}

#grafico2 {
    background-color: #F0F0F0;
}
.axis path,
.axis line {
  fill: none;
  stroke: #757575;
  shape-rendering: crispEdges;
  stroke-width: .1px;
}

.x.axis path {
	
}

.x.axis line {
 
 }

.regua {
    stroke: black;
    fill: #D4AF6A;
}

.regua:hover {
    cursor:move;
}

.alca:hover {
    cursor:ew-resize;
}

.alca {
    fill:gray;
}

.line {
  fill: none;
  stroke: #7f7f7f;
  /*stroke: steelblue;*/
  /*stroke-width: 1.5px;*/
}

.line_aux {
    fill:none;
    stroke:black;
    stroke-width:1px;
}

.linhaSelecionada {
  stroke: #ff6600;
}

.infoTooltip {
  font-size: 10.5px;
  text-transform: uppercase;
  font-family: 'flamathin', arial, sans-serif;
}

.infoTooltip span {
  font-family: 'flamabold', arial, sans-serif;
}
/* FIM CODIGO REFERENTE AO GRAFICO */


/* CODIGO REFERENTE AO DROPDOWN MENU */
.clearfix:after {
    display:block;
    clear:both;
}
 
.menu-wrap {
    width:100%;
    box-shadow:0px 1px 3px rgba(0,0,0,0.2);
    background:#20262C;
    display: block;
    clear: both;
    height:50px;
}
 
.menu {
    width:1000px;
    margin:0px auto;
}
 
.menu li {
    margin:0px;
    list-style:none;
    font-family:'flamabold';
    text-transform: uppercase;
}

.menu a {
    transition:all linear 0.15s;
    color:#b4c0d3;
}

.menu li:hover > a, .menu .current-item > a {
    text-decoration:none;
    color:#be5b70;
}
 
.menu .arrow {
    font-size:8px;
    line-height:0%;
}

h1 .metodologia {
    color: #20262C;
    font-size:16px;
    font-family: flamabook;
    line-height:0.2;
}
 
.menu > ul > li {
    float:left;
    display:inline-block;
    position:relative;
    font-size:18px;
}
 
.menu > ul > li > a {
    padding:10px 40px;
    display:inline-block;
    text-shadow:0px 1px 0px rgba(0,0,0,0.4);
}
 
.menu > ul > li:hover > a, .menu > ul > .current-item > a {
    background:#1e2329;
}
 
.menu li:hover .sub-menu {
    z-index:1;
    opacity:1;
}
 
.sub-menu {
    width:160%;
    padding:5px 0px;
    position:absolute;
    top:100%;
    left:0px;
    z-index:-1;
    opacity:0;
    transition:opacity linear 0.15s;
    box-shadow:0px 2px 3px rgba(0,0,0,0.2);
    background:#1e2329;
}
 
.sub-menu li {
    display:block;
    font-size:16px;
}
 
.sub-menu li a {
    padding:10px 30px;
    display:block;
}
 
.sub-menu li a:hover, .sub-menu .current-item a {
    
}
/* FIM CODIGO REFERENTE AO DROPDOWN MENU */

/*MENU ESCUDOS*/
.menuEscudos {
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    margin-top: 10px;
    margin-bottom: 30px;
    padding:0;
    text-align:center;
    height: 34px;
}
.menuEscudos li {
    display:inline;
    font-family: "flamathin";
    text-transform: uppercase;
    font-size: 14px;

}
.menuEscudos a {
  display:inline-block;
  padding:10px;
}

.menuEscudos img {
  width: 30px;
  height: 30px;
  transition: all .4s ease;
  filter: gray; /* IE6-9 */
  filter: grayscale(.4); /* Firefox 35+ */
  -webkit-filter: grayscale(.4); /* Google Chrome, Safari 6+ & Opera 15+ */
}

.menuEscudos img:hover {
  filter: none;
  -webkit-filter: grayscale(0);
}

#menuEscudos01 {
  margin-bottom: 20px;
}
/*MENU ESCUDOS*/

/*BARRA DE PESQUISA*/
.search-container {
  padding-top: 10px;
  /*background: pink;*/
  display: inline-block;
  float: right;
}
.search-box {
  -webkit-transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
          transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
  width: 26px;
  height: 26px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background: #ebebeb;
}
.search-box + label .search-icon {
  color: black;
}
.search-box:hover {
  color: white;
  background: #c8c8c8;
  box-shadow: 0 0 0 5px #3d4752;
}
.search-box:hover + label .search-icon {
  color: white;
}
.search-box:focus {
  -webkit-transition: width 0.6s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.6s, background 0.6s;
          transition: width 0.6s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.6s, background 0.6s;
  border: none;
  outline: none;
  box-shadow: none;
  padding-left: 15px;
  cursor: text;
  width: 200px;
  border-radius: auto;
  background: #ebebeb;
  color: black;
}
.search-box:focus + label .search-icon {
  color: black;
}
.search-box:not(:focus) {
  text-indent: -5000px;
}

#search-submit {
  position: relative;
  left: -5000px;
}

.search-icon {
  position: relative;
  left: -30px;
  color: white;
  cursor: pointer;
}
/*BARRA DE PESQUISA*/